<!-- <p> Task C </p>
<button (click)="evaluate()">Evaluate ✔</button>
<p *ngFor="let expression of evaluatedExpressions; ">
 Expression Evaluated 👉 {{expression}}  
</p> -->

<form #form="ngForm" (ngSubmit)="displayData(form.value)">

	<input type="text" name="mathsValidator" ngModel #mE="ngModel" appMathsyValidator />

	<div *ngIf="mE.dirty && mE.errors?.mathsyExpression" class="error">
		{{mE.errors.mathsyExpression}}
	</div>

	<button type="submit" *ngIf="form.valid">Send info</button>
</form>




